@CHARSET "UTF-8";

#container {width : 100%; 
            margin: 0 auto; 
            padding: 20px;
            /* border: solid green 1px; */}
            
#memberInfo {float: left; 
             width: 70%;
             height: 400px;
             /* border: solid red 1px; */}
             
#imgInfo {float: left;
          width: 25%;
          height: 400px;
          margin-left: 2%;
          /* border: solid blue 1px; */}                         