@CHARSET "UTF-8";

/* 구글 본고딕체 웹폰트 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); }

/* css 초기화 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family:'Noto Sans KR','나눔바른고딕','맑은고딕','MalgunGothic','돋움',dotum,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {border:0; padding:0; margin:0; vertical-align:middle;}





#headWrap {border-bottom:1px solid #dbdbdb;}
.header {width:1400px; margin:0 auto;  height:70px; padding:20px 0 0; position: relative; margin-top:20px;}
.header  h1 {float:left; padding:0 20px 0 50px; margin:0; font-size:23px; font-weight:bold;} 
.header .menu  {float:left; padding:4px 0 0 7px; margin:0; }
.header .menu li {float:left; list-style:none; padding:0 10px;}
.header .menu li a {text-decoration:none; font-size:16px; color:#222;}
.header .btnLogin {float:right; width:58px; height:25px; background:#fff; font-size:10px; border:1px solid #000; border-radius:2px; color:#000; cursor:pointer;}

/* 동현 가고싶다 버튼 추가 */
.btnLogin {float:right; width:58px; height:25px; background:#fff; font-size:10px; border:1px solid #000; border-radius:2px; color:#000; cursor:pointer;}

/* 한별 로그인정보, 탑 css */
.topWrap {position:relative; width:1400px; margin:0 auto;}
.loginWrap {width:100%; z-index:100; position:fixed; top:0; left:0; height:30px; background-color: #f2f2f2;}
.loginInfo {position:absolute; right:0;} 
.btnColor {background-color: #008968; color: #fff;}
.fontDesign {color:#008968; font-size:13px; font-stretch:narrower; font-weight: bold;}
.btnDesign {background:#F7F7F7; padding:2px; font-size:12px; border:1px solid #D4DADC; border-radius:2px; color:#A1A1A1; cursor:pointer;}
.btnLogout {background-color: #dddddd; height:30px; border-radius: 0;}
.logOut {color: #000; font-size:12px; font-weight: bold;}

#content {width:1400px; overflow:hidden; margin:0 auto;}
#leftCon {float:left; width:856px;}
#leftCon .reconCon  {margin-top:30px;}
#leftCon .reconCon h2 {padding:10px 0; font-size:12px; color:#222;}
.rightCon {position:relative;  float:left; width:544px; height:1000px;}


footer {height:170px; background-color: #eff3f2; padding-top:30px; clear: both; font-size:12px;}
footer .comIntro a {padding:0 5px; font-size:12px; color:#000; font-weight:bold; text-decoarion:none;}
footer .copyRight {color:#8a8a8a;}
#realReview {position:absolute; right:280px; height:40px;}

/* 동현 자동 검색어 완성 관련 css 추가 */
/* 카테고리화된 검색어 자동완성 css */
.ui-autocomplete-category {
   font-weight: bold;
   padding: .2em .4em;
   margin: .8em 0 .2em;
   line-height: 1.5;
 }
 /*기본 검색어 자동완성 css*/
 .ui-autocomplete {
   max-height: 300px;
   min-height: 50px;
   overflow-y: auto;
   /* prevent horizontal scrollbar */
   overflow-x: hidden;
 }
 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 html .ui-autocomplete {
   height: 300px;
 }

#woo_scroller {  position:relative;  height:400px;  width:270px;    left:0; }

#woo_scroller table {border:0px; position:relative;}

  /* 가고싶다 mySideNav */
  .sidenav {
  		display : none;
	    height: 100%;
	    width: 500px;
	    position: fixed;
	    z-index: 10000;
	    top: 0;
	    left: 0;
	    background-color: white; /* #111; */
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 15px;
	    border-right: solid 1px #e7e7e7;
	}
	
	.sidenav a  {
	    
	    text-decoration: none;
	    font-size: 15px;
	    color: #f1f1f1;
	    display: block;
	    transition: 0.3s
	}
	.sidenav li {
		padding: 8px 8px 8px 8px;
		list-style-type:none;
	}
	
	.sidenav a:hover, .offcanvas a:focus{
	    color: #818181;
	}
	
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	
	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}
	

/* 메인 페이지 실시간 리뷰  div 및 table */
#Scroller {position:absolute; height:400px;  width:270px;  margin-top:50px; right:320px; } 
#Scroller table {border:0px; position:relative;}

/* 미현 -- 서브페이지레이아웃,검색바,테이블,버튼*/
.subleftCon {float:left; width:230px; height:800px; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; padding:0; margin:0;}
.subleftCon h2 {width:210px; border-bottom:2px solid #000; padding-top:30px;  padding-bottom:5px; text-align:right; font-size:25px; letter-spacing:-1px;}
.subrightCon {float:left; width:1170px; height:800px; border-right:1px solid #dbdbdb; padding-bottom:40px;}
.searchWrap {padding:10px 0 20px 0; text-align:center;}
.tblType01 {border-collapse: collapse; width:1000px;}
.tblType01 th {height:50px; padding-top:16px; border-top:1px solid #00bad2; border-bottom:1px solid #c2c2c2; background-color:#fafafa; color:#444; text-align:center; font-size:13px; font-weight:normal;}
.tblType01 td {height:50px; padding-top:20px; border-bottom:1px solid #e0e0e0; font-size:12px; text-align:center;}
.btnGray {width:63px; height:23px; border:1px solid #6c6c6c; background-color:#777; color:#fff; margin-top: 20px; margin-bottom: 10px; font-size:10px; }
.btnFafa {width:63px; height:23px; display:inline-block; margin:0 15px 0; line-height:23px; border:1px solid #6c6c6c; background:#fafafa; color:#000; font-size:10px;}
.txtC {margin:0 auto; width:1000px;}

/* 코인충전 페이지  */
.coinWrap {padding:30px 0 0 20px; font-size:13px;}
.coinWrap  li.first {width:600px; border-bottom: 1px solid #dbdbdb; margin-bottom:30px;}
.btnCoin {width: 58px; height: 25px; background: #000; font-size: 9px; border: 1px solid #000; border-radius: 2px; color: #fff;  cursor:pointer;}
.btnPoint {width: 68px; height: 30px; background: #fff; font-size: 10px; border: 1px solid #000; border-radius: 2px; color: #000; cursor: pointer;}
.desc {margin-top:10px; margin-bottom:20px; font-size: 11px;}   
/*-- 미현 END--*/

/* 은석 레스토랑 디테일.jsp 썸네일 호버했을때 쓰는 용도*/
 .myborder {
	border: red solid 3px;
  }

 /* 동현 관리자 헤더메뉴 */
.drop_anchor {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-top:2px #008968 solid;
    top:42px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000000;
}

.header .menu li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    
}


.dropdown-content a:hover {background-color: #f2f2f2;}

.dropdown:hover .dropbtn {
    background-color: gray ;
}

 