@CHARSET "UTF-8";

/* css 초기화 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family:'나눔바른고딕','맑은고딕','MalgunGothic','돋움',dotum,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {border:0; padding:0; margin:0; vertical-align:top;}


#headWrap {border-bottom:1px solid #dbdbdb;}
.header {overflow:hidden; position:relative; width:1400px; margin:0 auto;  height:70px; padding:20px 0 0;}
.header  h1 {float:left; padding:0 20px 0 0; margin:0; font-size:23px; font-weight:bold;} 
.header .menu {overflow:hidden; float:left; padding:4px 0 0 0; margin:0; }
.header .menu li {float:left; list-style:none; padding:0 10px;}
.header .menu li a {text-decoration:none; font-size:16px; color:#222;}
.header .btnLogin {float:right; width:58px; height:25px; background:#fff; font-size:10px; border:1px solid #000; border-radius:2px; color:#000; cursor:pointer;}
.header .loginInfo {position:absolute; top:5px; right:200px;} 

#content {width:1400px; overflow:hidden; margin:0 auto;}
#leftCon {float:left; width:730px;}
#leftCon .reconCon  {margin-top:30px;}
#leftCon .reconCon h2 {padding:10px 0; font-size:12px; color:#222;}
.rightCon {float:left; width:270px; height:1000px;}


footer {height:170px; background-color: #eff3f2; padding-top:30px; clear: both; font-size:12px;}
footer .comIntro a {padding:0 5px; font-size:12px; color:#000; font-weight:bold; text-decoarion:none;}
footer .copyRight {color:#8a8a8a;}

#woo_scroller {  position:relative;  height:400px;  width:270px;    left:50px; }

#woo_scroller table {border:0px; position:relative;}
