@CHARSET "UTF-8";

#container		{ background-color:#F0F0F0; width:95%; margin:0 auto; padding:10px; }
#headerImg		{ background-color:#908886; height:50px; }
#headerLink		{ background-color:#EFEFEF; height:35px; }
#headerLine		{ background-color:gold; height: 5px; }

/* 
#sideinfo		{ background-color:#E6E6E6; width:20%; height:420px; float:left; }
#content		{ background-color:#F5F5F5; width:80%; height:420px; float:left; } 
*/

/* 
#sideinfo		{ background-color:#E6E6E6; width:20%; max-height:420px; overflow-y: auto; float:left; }
#content	"src/main/webapp/resources/css/style.css"	{ background-color:#F5F5F5; width:80%; max-height:420px; overflow-y: auto; float:left; } 
*/

#sideinfo		{ background-color:#E6E6E6; width:20%; min-height:420px; float:left; }
#content		{ background-color:#F5F5F5; width:80%; min-height:420px; float:left; }  

#footer			{ background-color:#999999; height:80px; clear:both;  }


/*표준 글꼴 서식 스타일*/

 body, td, th, input, select, textarea, p {
	font-size:11pt;
	font-family: 'NanumGothic', 'MalgunGothic' ; 
	color:navy;
	padding:4px; /* 안쪽 여백 */
}

/* 표준 링크 스타일 */
a {text-decoration: none;}

/* 
   a:link { text-decoration:none; }

   a:visited { text-decoration:none; } 
*/

/* unvisited link */
a:link {
	color: navy;	
}

/* visited link */
a:visited{
	color: navy;
}

/* mouse over link */
a:hover { color:maroon; 
          font-weight: bold; }
          
/* selected link */
a:active {
	color: navy;
}          
          
		  
#headerLink a:hover { color:maroon;
		  			  font-weight: bold;
		  			  font-size:12pt; }	   

.box { border:1px solid navy; }

.box2 { border:1px dotted red; }

table.outline { width: 95%;
	            border-top: 4px double navy;
	            border-bottom: 4px double navy; }
	             
table.outline th {background-color: #e6e6e6;}	             

.error { color: red; padding-left: 10px; margin-bottom: 5px;}

img { border: 0px; }

.bgcol {background-color: LightGray;}